@page
@model NunesSports.Pages_Products.IndexModel

@{
    ViewData["Title"] = "Lista de Produtos";
}

<h1 class="listaProdutos">Lista de Produtos</h1>

<div class="novoProduto">
    <a asp-page="Create" class="btn btn-info">Novo Produto</a>
</div>
<table class="table text-center">
    <thead>
        <tr>
            <th>
                Produto
            </th>
            <th>
                Código
            </th>
            <th>
                Descrição
            </th>
            <th>
                Preço
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Product)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id"><i class="bi bi-pencil" id="edit"></i></a> |
                    <a asp-page="./Details" asp-route-id="@item.Id"><i class="bi bi-exclamation-circle"
                            id="details"></i></a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id"><i class="bi bi-trash" id="trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
